#game-timer {
    text-align: center;
position: relative;
width: 150px;
height: 150px;  
}

#outer-circle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #ccc; /* Initial color of the outer circle border */
    box-sizing: border-box;
    animation: colorChange 10s infinite; /* Animation for color change every 10 seconds */
    transition: border-color 0.5s ease; /* Transition effect for border-color */
}

#timer {
    font-size: 30px;
    color: #fff; /* Initial color of the timer text */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the timer is above the outer circle */
}

.highlight {
    border-color: rgb(150, 0, 0) !important; /* Change this to your desired highlight color */
}

@keyframes colorChange {
    0% {
        border-color: #4d0000;
    }

    10%{
        border-color: rgb(154, 0, 0);
    }

    33% {
        border-color: rgb(74, 0, 0);
    }
    44%{
        border-color: rgb(170, 0, 0);
    }

    55% {
        border-color: rgb(54, 1, 1);
    }
    77%{
        border-color: rgb(144, 0, 0);
    }

    100% {
        border-color: rgb(94, 0, 49);
    }
}

.puzzlebox{
    /* padding-top: 20px; */
    display: flex;
    margin: auto;
    max-width: 1000px;
    justify-content: space-around;
    margin-top: -40px;

 } 

 .namebox h1{
    color: #ffffff;
     padding: 15px 30px;
     /* background-color: rgb(22, 227, 104); */
     /* border-radius: 19px; */
     width: 300px;
     transform: skew(20deg);
     position: relative;
     border-radius: var(--border-width);
     --border-width: 3px;
  }
  .namebox h1::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  .scorebox h1{
    color: #ffffff;
    padding: 15px 30px;
    background-color: white;
    /* border-radius: 19px; */
    width: 300px;
    transform: skew(-20deg);
    position: relative;
    border-radius: var(--border-width);
    --border-width: 3px;
 
  }
.scorebox h1::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      /* hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%), */
      hsl(0, 100%, 15%),
      hsl(0, 95%, 17%),
      hsl(0, 94%, 14%),
      hsl(0, 65%, 10%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }

  .gap{
    margin-bottom: 0.5rem;
    color: #c8c8c8;
}
.center{
    padding-top: 1rem;
    display: block;
    text-align: center;
  
}
.userinfo{
    color: white;
}

.question{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: #ffffff;
    font-weight: 300;
    font-size: 2.5vw;
    /* -webkit-text-stroke-width: .1vw;
    -webkit-text-stroke-color: black; */
}

.quiz-options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 0 0.9rem;
    width: 24rem;
    border-radius: 1vw;
    background: linear-gradient(145deg,  #F43F22, #6A0C09);
    box-shadow:  .3vw .3vw .3vw #665656,
                 -.3vw -.3vw 2vw #ffffff;
    height: 5em;
    cursor: pointer;
    font-size: 1.2vw;
    /* margin-bottom: 3rem; */
    z-index: 1000;
    color: white;
    border: none;
}

.btn:hover{
    background-color: #fff;
    color: white;
}

.timeralign{
    justify-content: center;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    margin-top: -43px;

}
.quizbackground{
    background-image: url(../img/Calpol_Bg.webp);
}
.quizgrid{
    margin-top: 2vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
    gap: 4rem;
}












/* animation */

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 98%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
